.register-wrapper {
	width: 400px;
	height: 450px;
	margin: 0 auto;
	padding: 2rem;
	border-radius: 8px;
	background-color: #fff;
}
.register-wrapper__link {
	color: blue;
}
.register-wrapper__input {
	min-width: 90%;
	margin: 8px 0px;
	padding: 3px 5px;
	border-bottom: 2px solid;
}
.register-wrapper__full-name {
	display: flex;
	flex-direction: row;
	min-width: 90%;
}
.two-columns {
	min-width: 40%;
}
.two-columns-input {
	display: block;
	min-width: 90%;
	margin: 8px 2px;
	padding: 3px 3px;
	border-bottom: 2px solid;
}
.label-fullname {
	min-width: 40%;
}
.register-wrapper__btn {
	margin-top: 3.5rem;
	margin-left: 65%;
	padding: 10px 40px;
	background-color: rgba(255, 198, 23, 1);
}
