@import './taxi_app/css/normalize.css';
@import './taxi_app/css/helpers.css';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.main-page {
	padding: 1rem 2rem;
}

@import './taxi_app/css/header.css';
@import './taxi_app/css/register.css';
@import './taxi_app/css/login.css';
@import './taxi_app/css/profile.css';
@import './taxi_app/css/map.css';
