@import './css/normalize.css';
@import './css/helpers.css';

html{
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	-webkit-font-smoothing: antialiased;
	background-image: url('./assets/img//фон.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 1910px;
	min-height: 1170px;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}




@import './css/header.css';
@import './css/register.css';
@import './css/login.css';
@import './css/profile.css';
@import './css/map.css';
